$red-temp-d: #ff4546;
$red-temp-l: #ff7678;


body,
html {
  font-family: "H", "Trebuchet MS", Helvetica !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url(/assets/background.jpg);
  backdrop-filter: brightness(0.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  padding: 0 !important;
}

.navbar {
  padding: 2rem !important;
  .nav-item:nth-child(2) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    margin-top: -25px !important;
    span {
      color: rgb(255, 255, 0);
      font-size: 0.7rem;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }
}

.navbar a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0;
}

// Main content
.main {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  height: 80%;
  color: #fff;

  // Left content box
  .left {
    p {
      font-size: 3rem;
      font-weight: 700;
      text-transform: capitalize;
      margin: 0;
      span {
        color: $red-temp-d;
      }
    }

    // Countdown timer
    .counter {
      display: grid;
      grid-template-columns: repeat(6, auto);
      align-items: center;
      justify-items: left;

      i {
        color: $red-temp-d;
        font-size: 2rem;
      }
      p {
        text-align: center;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 700;
      }
      span {
        font-size: 2rem;
        font-weight: 600;
        margin: 0 1rem;
      }

      .count {
        margin: 0;
      }
    }

    // Left content box button
    .btn-danger {
      text-transform: uppercase;
    }
    .btn-xl {
      padding: 1rem 3rem;
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }

  // Right content box
  .right {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "h h h"
      "d o f"
      "d o m";

    .rightInfo1 {
      grid-area: h;
      align-self: end;
      justify-self: center;
      background-color: $red-temp-l;
      color: #fff;
      padding: 2px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 600;
      height: 3.5rem;
      width: 11rem;

      p {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 0.4rem;
      }
      .arrow {
        background: $red-temp-l;
        transform: rotate(45deg);
        width: 1.3rem;
        height: 1.3rem;
        margin: -17px auto;
      }
    }
    .rightInfo2 {
      grid-area: d;
      align-self: start;
      justify-self: end;
      font-size: 8rem;
      font-weight: 700;
      margin-top: 50px;
    }
    .rightInfo3 {
      grid-area: o;
      p {
        font-size: 30rem;
        font-weight: 700;
        align-self: stretch;
        margin-top: -10rem;
      }
    }
    .rightInfo4 {
      grid-area: f;
      font-size: 6rem;
      font-weight: 700;
    }
    .rightInfo5 {
      grid-area: m;
      align-self: start;
      font-size: 6rem;
      font-weight: 700;
      margin-top: -5rem;
    }
  }
}

// Footer
.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
  color: #fff;
  height: 50px;
  margin-top: 8rem;

  p {
    font-weight: 100 !important;
  }

  i {
    color: rgb(74, 126, 74);
    margin: 0.4rem;
  }
}

// Media Queries
@media screen and (max-width: 980px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: center;
  }
  .navbar a {
    font-size: 0.74rem;
  }

  .navbar-brand img {
    height: 1.4rem;
  }

  // Footer
  .footer {
    height: 4rem !important;
    margin-top: 5rem !important;

    p {
      font-weight: 100 !important;
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar a {
    padding: 8px;
  }
  // Main content
  .main {
    // Left content box
    .left {
      p {
        font-size: 2rem;
      }

      // Left content box button
      .btn-xl {
        padding: 0.8rem 2rem !important;
        font-size: 1rem;
      }
    }

    // Right content box
    .right {
      .rightInfo1 {
        font-size: 1rem;
        font-weight: 600;
        height: 3rem;
        width: 9rem;
        p {
          font-size: 1.2rem;
          margin-top: 0.4rem;
        }
        .arrow {
          width: 1rem;
          height: 1rem;
          margin: -17px auto;
        }
      }
      .rightInfo2 {
        font-size: 5rem;
        margin-top: 50px;
      }
      .rightInfo3 {
        p {
          font-size: 20rem;
          margin-top: -7rem;
        }
      }
      .rightInfo4 {
        font-size: 4rem;
      }
      .rightInfo5 {
        font-size: 4rem;
        margin-top: -3rem;
      }
    }
  }

  // Footer
  .footer {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    margin-top: 0rem !important;

    p {
      font-weight: 100 !important;
      font-size: 0.7rem;
      margin: 0 !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 90% !important;
    padding: 0 !important;
  }
  // Main content
  .main {
    // Left content box
    .left {
      p {
        font-size: 1rem;
      }
    }
    // Countdown timer
    .counter {
      i {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 0.7rem !important;
      }
      span {
        font-size: 1.2rem !important;
        margin: 0 1rem;
      }
    }

    // Left content box button
    .btn-xl {
      padding: 0.7rem 2rem !important;
      font-size: 0.8rem !important;
      margin-top: 1rem !important;
    }
  }
  // Right content box
  .right {
    .rightInfo1 {
      height: 1.5rem !important;
      width: 5rem !important;
      margin-top: 2rem !important;
      align-self: center !important;
      p {
        font-size: 0.5rem !important;
        margin-top: 0rem !important;
      }
      .arrow {
        width: 0.8rem !important;
        height: 0.8rem !important;
        margin: -17px auto;
      }
    }
    .rightInfo2 {
      font-size: 3rem !important;
      font-weight: 700;
      margin-top: 0rem !important;
    }
    .rightInfo3 {
      p {
        font-size: 12rem !important;
        margin-top: -5rem !important;
      }
    }
    .rightInfo4 {
      font-size: 2rem !important;
    }
    .rightInfo5 {
      font-size: 2rem !important;
      margin-top: -2rem !important;
    }
  }
  // Footer
  .footer {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    margin-top: 0 !important;

    p {
      font-weight: 100 !important;
      font-size: 0.6rem !important;
      margin: 0 !important;
    }
  }
}
